.navigation1,.create-text{
    background-color: #FFACA2;
}
.main{
    background-color: #FDF4F0;
}
.navigation2{
    background-color: #fce2df;
}
.bg-carousel{
    background-color: #eba7ad;
}
footer{
    background-color: #261075;
}
footer li a{
    color: #caddf5;
}